In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os
import requests
import json

In [2]:
df1 = pd.DataFrame({"team": ['A', 'B', 'C'], "win": [.5, .3, .2], 'odds': [1.4, .9, 2.5]})

In [5]:
df1 = df1.set_index('team')

In [6]:
df1

      win  odds
team
A     0.5   1.4
B     0.3   0.9
C     0.2   2.5

In [7]:
.5/1.4

0.35714285714285715

In [8]:
.3/.9

0.3333333333333333

In [9]:
.2/2.5

0.08

In [ ]:
def